{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-4 center-align">Add Recipe</h3>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- Category Selection-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix teal-text text-darken-4"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for food_category in food_categories %}
                            <option value="{{ food_category.category_name }}">{{ food_category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Recipe Category</label>
                </div>
            </div>
            <!-- Recipe Name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix teal-text text-darken-4"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="100"
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Recipe Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix teal-text text-darken-4"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="300" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
            <!-- Ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ul prefix teal-text text-darken-4"></i>
                    <textarea id="ingredients" name="ingredients" minlength="5"
                        maxlength="1000" class="materialize-textarea validate" required></textarea>
                    <label for="ingredients">List your ingredients one in a line</label>
                </div>
            </div>
            <!-- Method Steps -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix teal-text text-darken-4"></i>
                    <textarea id="method_steps" name="method_steps" minlength="5"
                        maxlength="5000" class="materialize-textarea validate" required></textarea>
                    <label for="method_steps">List your method steps one in a line</label>
                </div>
            </div>
            <!-- Cooking Time -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix teal-text text-darken-4"></i>
                    <input id="cooking_time" name="cooking_time" type="number" class="validate" required>
                    <label for="cooking_time">Cooking time in minutes</label>
                </div>
            </div>
            <!-- Recipe Image -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix teal-text text-darken-4"></i>
                    <textarea id="image_url" name="image_url" minlength="5"
                        class="materialize-textarea validate" required></textarea>
                    <label for="image_url">Recipe Image (provide web address)</label>
                </div>
            </div>
            <!-- Kitchen Tools -->
            {% if session.user|lower == "admin"|lower %}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-cogs prefix teal-text text-darken-4"></i>
                        <textarea id="kitchen_tools" name="kitchen_tools" minlength="5"
                            maxlength="300" class="materialize-textarea validate" required></textarea>
                        <label for="kitchen_tools">Kitchen Tools</label>
                    </div>
                </div>
            {% endif %}
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large teal darken-1 text-shadow">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
