{% extends "base.html" %}
{% block content %}

    <div class="col s12 m7">
        {% for recipe in recipes %}
        <h3 class="header"><a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a></h3>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ recipe.image_url }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ recipe.category_name }}</p><br>
                    <p>{{ recipe.recipe_description }}</p><br>
                    <p>Cooking Time: {{ recipe.cooking_time }} min</p><br>
                    <p>Tips: {{ recipe.kitchen_tools }}</p><br>
                    <p>Added by</p><br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
