{% extends "base.html" %}
{% block content %}

    <div class="card-panel">
        <div class="row">
            <div class="col s12 m9">
                <h3 class="teal-text text-darken-4">{{ recipe.recipe_name }}</h3> 
            </div>
            <div class="col s12 m3">
                {% if session.user|lower == recipe.created_by|lower %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                        class="btn-small teal accent-4 text-shadow">Edit</a>
                    <!-- Trigger/Open The Modal -->
                    <a id="open-popup" class="btn-small deep-orange darken-2 text-shadow">Delete</a>
                {% endif %} 
            </div>
        </div>
        <div class="row">
            <div class="col s12 m5">
                <img src="{{ recipe.image_url }}" class="responsive-img" alt="{{ recipe.recipe_name }}">
            </div>
            <div class="col s12 m7">
                <p>{{ recipe.category_name }}</p>
                <p>{{ recipe.recipe_description }}</p>
                <p>Cooking Time: {{ recipe.cooking_time }} min</p>
                <p>
                    Cookware, bakeware, kitchen tools, knives and boards at 
                    <a href="https://www.thekitchenwhisk.ie/" target="_blank">The Kitchen Whisk.</a>
                </p>
                <p><em>by: {{ recipe.created_by }}</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m5">
                <h5>Ingredients</h5>
                {% for ingredient in recipe.ingredients %}
                    <ul>{{ ingredient }}</ul>
                {% endfor %}
            </div>
            <div class="col s12 m7">
                <h5>Method</h5>
                {% for step in recipe.method_steps %}
                    <div>STEP {{ loop.index }}</div>
                    <div>{{ step }}</div><br>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Following code was taken from w3schools, changed in id and added in Modal content -->
    <!-- The Modal -->
    <div id="modal-popup" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span id="close-popup" class="close">&times;</span>
            <p>Are you sure to delete this recipe?</p>
            <a href="{{ url_for('get_recipes') }}"
                        class="btn-small teal accent-4 text-shadow">No</a>
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                        class="btn-small deep-orange darken-2 text-shadow">Yes</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/modalPopup.js') }}"></script>
{% endblock%}
