{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_description }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method_steps }}<br>
        {{ recipe.cooking_time }}<br>
        {{ recipe.image_url }}<br>
        {{ recipe.kitchen_tools }}<br>
    {% endfor %}

    <div class="col s12 m7">
        <h4 class="header" >Recipe Name</h4>
        <div class="card horizontal">
            <div class="card-image">
                <img src="#">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Content</p><br>
                    <p>Content</p><br>
                    <p>Content</p><br>
                    <p>Content</p><br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
