{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-4 center-align">All Recipes</h3>    

    <div class="row">
        {% for recipe in recipes %}
            <div class="col s12 m4">  
                <div class="card medium">
                    <div class="card-image">
                        <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}"> 
                    </div>
                    <div class="card-content teal darken-1 white-text text-shadow">
                        <span class="card-title"><a class="white-text cursor" href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a></span>
                        <p>Cook: {{ recipe.cooking_time }} min</p><br>
                        <p><em>by: {{ recipe.created_by }}</em></p><br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
